body, html {
    height: 100%;
    margin: 0;
    font-family: 'Natos Sans' !important; font-size: 18px;
  }
  a.nav-link:hover {
    text-decoration:underline;
 }
  .container-custom {
    height: 100%;
  }
  .bg {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
 }
.active {
    font-weight: bold;
    font-style: italic;
}
nav {
    background-color: rgba(74, 170, 74, 0.945);
    margin: 0;
    overflow: hidden;
}
.card{
  background-color:rgba(74, 170, 74, 0.767)!important;
}


.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(74, 170, 74, 0.918);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
